.idea/
.claude/
.obsidian/
study/
docs/workboddy_skills.md
notes/
notes/Principles_of_Automatic_Control
src/http_server/files/
src/epoll_concurrent_server/client
src/epoll_concurrent_server/server.log
src/http_server/http_server
src/.cache/
src/.vscode/
src/build/
src/qt_learning/QLabel_demo/build/
src/qt_learning/QSqlited_demo/build/
src/qt_learning/qt_quick3d_demo/build/
src/qt_learning/qt_ros2_demo/build/
src/qt_learning/qt6_demo/build/
src/qt_learning/qt6widget_ui_demo/build/
src/qt_learning/QLable_demo/build/unknown-Debug/
src/qt_learning/qt6_demo/build_check/
docs/qt5-learning/dbsys_v1.0/
docs/qt5-learning/JSON数据处理/
